<!DOCTYPE html>

<html>

<head>
    <title>About</title> <!-- this line of code put the  title into the browszer tab -->
    <link rel="icon" href="/img/weather.png"> <!-- this line of code put the image into the browszer tab -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <script src="/js/app.js"></script>-->
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/Daisy-image.jfif">
    </div>

    {{>footer}}
</body>

</html>